@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@theme {
  --color-dark-green: rgba(51, 100, 61, 1);
  --color-glow-green: #23c483;
  --drop-shadow-green: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.textShadow {
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}
